<!DOCTYPE html>
<html lang="pt-BR">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="listaTarefas.css">
     <title>Login</title>
</head>

<body>


     <div class="main-login">
          <nav class="navbar">
               <button class="btn-logout" onclick="window.location.href='index.html'">Logout</button>
          </nav>

          <div class="right-login">
               <div class="card-login">
                    <h1>Lista Tarefas</h1>
                    <div class="adicionar-tarefa">
                         <input class="inputAdicionar" type="text" placeholder="Adicione uma tarefa"> <button
                              class="buttonAdicionar">Adicionar</button>
                    </div>
                    <div class="lista-tarefas">
                         <div class="tarefa"><input type="checkbox"> Tarefa 1 <button
                                   class="buttonExcluir">Excluir</button>
                         </div>
                         <div class="tarefa" style="text-decoration: line-through;"><input type="checkbox" checked>
                              Tarefa 2 <button class="buttonExcluir">Excluir</button>
                         </div>
                         <div class="tarefa"><input type="checkbox"> Tarefa 3 <button
                                   class="buttonExcluir">Excluir</button>
                         </div>
                    </div>
               </div>
          </div>
</body>

</html>