<!DOCTYPE html>
<html lang="pt-BR">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="style.css">
     <title>Login</title>
</head>

<body>
     <div class="main-login">

          <div class="right-login">
               <div class="card-login">
                    <h1>TROCAR SENHA</h1>
                    <div class="textfield">
                         <input type="text" name="usuario" placeholder="Digite nova senha">
                    </div>
                    <button class="btn-login" onclick="window.location.href='index.html'">Alterar</button>
               </div>
          </div>
     </div>
</body>

</html>